@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videoProfile {
  @include desktop {
    width: 80%;
    margin: 0;
  }

  &__wrapper {
    margin: 0;

    @include desktop {
      margin: 0;
      max-width: $max-content-width;
    }
  }
}
.videoDetails {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin: 0;
    padding: 24px 0 16px;
    border-bottom: 1.5px solid $baselight-color;
    text-align: left;

    @include tablet {
      font-size: 33px;
      line-height: 44px;
      padding: 36px 0 0;
      border: none;
    }
  }

  &__info {
    display: flex;
    padding: 16px 0;
    border-bottom: 1.5px solid $baselight-color;

    @include tablet {
      padding: 24px 0 8px;
      justify-content: space-between;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-right: 64px;
    text-align: left;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    &--channel {
      font-size: 13px;
      line-height: 18px;
      font-weight: 700;
      padding-bottom: 16px;
      margin: 0;

      @include tablet {
        font-size: 14px;
        line-height: 22px;
        padding-right: 24px;
        padding-bottom: 0;
      }
    }

    &--date {
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      color: $base-color;
      margin: 0;

      @include tablet {
        font-size: 14px;
        line-height: 22px;
        padding: 0;
        padding-bottom: 0;
      }
    }
  }

  &__container {
    margin: 0;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
    }

    @include desktop {
      padding-right: 24px;
    }
  }

  &__views {
    display: flex;
    padding-bottom: 16px;

    @include tablet {
      padding-right: 24px;
      padding-bottom: 0;
    }

    &--icon {
      padding-right: 8px;
      height: 15px;

      @include tablet {
        padding-top: 4px;
        padding-bottom: 0;
      }
    }

    &--count {
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      color: $base-color;
      margin: 0;

      @include tablet {
        font-size: 14px;
        line-height: 22px;
        padding: 0;
        padding-bottom: 0;
      }
    }
  }

  &__likes {
    display: flex;

    &--icon {
      padding-right: 8px;
      height: 15px;

      @include tablet {
        padding-top: 4px;
        padding-bottom: 0;
      }
    }

    &--count {
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      color: $base-color;
      margin: 0;

      @include tablet {
        font-size: 14px;
        line-height: 22px;
        padding: 0;
        padding-bottom: 0;
      }
    }
  }

  &__description {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    padding: 16px 0;
    color: $primary-color;
    margin: 0;

    @include tablet {
      font-size: 14px;
      line-height: 22px;
      padding: 24px 0;
    }

    @include desktop {
      padding-right: 24px;
    }
  }
}

.comments__heading {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  padding-bottom: 16px;

  @include tablet {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 18px 0;
  }
}

.comments__form {
  width: 100%;
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1.5px solid $baselight-color;

  @include tablet {
    padding: 0 0 16px 0;
    height: 100%;
    justify-content: space-between;
  }

  @include desktop {
    max-width: $max-content-width;
  }

  &--left {
    flex: 0 0 20%;
    padding-top: 2rem;

    @include tablet {
      flex: 0 0 10%;
      padding-top: 29px;
    }
  }

  &--image {
    background-image: url(../../assets/images/Mohan-muruge.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;

    @include tablet {
      height: 40px;
      width: 40px;
      padding: 0;
    }
  }

  &--right {
    flex: 0 0 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablet {
      flex: 0 0 90%;

      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &--top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablet {
    }
  }

  &--label-tag {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    color: $base-color;
    text-transform: uppercase;
    padding: 0.25rem 0;

    @include tablet {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &--text {
    font-size: 13px;
    line-height: 18px;
    width: 100%;

    height: 6.25rem;
    padding: 12px;
    margin: 0.25rem 0;
    box-sizing: border-box;
    border: 1px solid $baselight-color;
    border-radius: 0.25rem;
    resize: none;
    background-color: $light-color;

    ::placeholder {
      font-size: 13px;
      line-height: 18px;
      color: $primary-color;

      @include tablet {
        font-size: 1rem;
        line-height: 1.375rem;

        height: 100%;
      }
    }

    @include tablet {
      font-size: 14px;
      line-height: 16px;
      padding: 10px 8px 0;
      margin: 0;
      height: 40px;
      width: 460px;
    }
  }

  &--sbtwrapper {
    width: 100%;
    padding-top: 16px;
    @include tablet {
      padding-top: 29px;

      width: 30%;
    }

    @include desktop {
      padding-right: 24px;
    }
  }

  &--sbt {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    width: 100%;
    margin: 0;
    border-width: 0;
    border-radius: 4px;
    padding: 0.2rem 2rem;
    height: 36px;
    color: $active-color;
    background: url(../../assets/icons/add_comment.svg) no-repeat scroll 10px
      10px;
    background-color: $secondary-color;
    background-size: 20px;
    text-transform: uppercase;
    text-align: center;

    @include tablet {
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 22px;
      height: 40px;
    }
  }
}
