@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videoList {
  @include relative-padding;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;

  &__heading {
    margin: 0;
    padding: 16px 0;
    text-transform: uppercase;
    color: $base-color;
    float: left;
  }
}
