@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.videoWrapper {
  background-color: $primarydark-color;

  @include tablet {
    padding: 0 1.5rem;
  }
}

.activeVideo {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;

  @include tablet {
    height: 31.25rem;
  }

  @include desktop {
    height: 43.75rem;
    margin: 0 auto;
    max-width: $max-content-width;
  }
}
