$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$max-content-width: 1280px;

$mobile-padding: 0 1rem;
$tablet-padding: 0 2.25rem;


$primary-color: #323232;
$secondary-color: #0095FF;
$base-color:#AFAFAF;
$active-color: #FFFFFF;

$primarydark-color: #000000;
$secondarydark-color: #0065AD;
$baselight-color: #E1E1E1;
$light-color: #FAFAFA;
