@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

   .comment{
    margin: 0;
    padding: 1rem 0;
    //border-bottom: 2px solid $baselight-color;
    display: flex;
    justify-content: space-between;
   

    @include tablet {
      padding: 2.25rem 0 1.5rem;
    }

    @include desktop {
      justify-content: space-between;
    }
   }

   .comment__left {
      flex: 0 0 20%;

      @include tablet {
        flex: 0 0 10%;
      }
    }
    .comment__image {
      border-radius: 50%;
      background-color: $baselight-color;
      height: 2.25rem;
      width: 2.25rem;

      @include tablet {
        height: 3rem;
        width: 3rem;
      }
    }

    .comment__right {
      flex: 0 0 80%;

      @include tablet {
        flex: 0 0 90%;
      }
    }

    .comment__top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: .5rem;

      @include tablet {
       margin:0;
      }
    }

    .comment__name {
      color: $primary-color;
      font-size: .875rem;
      line-height: 1.125rem;
      font-weight: 700;
      padding: 0;
      margin: 0;
      word-wrap: break-word;
      

      @include tablet {
        font-size: 1rem;
        line-height: 1.375rem;
      }
    }

    .comment__date {
      font-size: .875rem;
      line-height: 1.125rem;
      font-weight: 400;
      color: $base-color;
      margin: 0;

      @include tablet {
        font-size: 1rem;
        line-height: 1.375rem;
      }
    }

    .comment__text {
      font-size: .875rem;
      line-height: 1.125rem;
      font-weight: 400;
      word-wrap: break-word;
      text-align: left;

      @include tablet {
        font-size: 1rem;
        line-height: 1.375rem;
      }

      @include desktop {
        max-width: $max-content-width;
      }
    }