@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include flex-center;
  @include relative-padding;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    @include desktop {
      max-width: $max-content-width;
    }
  }

  &__logo {
    background-color: $active-color;
    height: 25px;
    width: 120px;
    padding-bottom: 16px;
    @include tablet {
      padding-right: 100px;
      padding-bottom: 0;
    }

    @include desktop {
      padding-right: 50px;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablet {
      flex-wrap: nowrap;
      width: 100%;

      @include desktop {
        width: 40%;
      }
    }

    &--search {
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      color: $primary-color;
      width: 100%;
      max-width: 240px;
      height: 36px;
      padding: 12px;
      box-sizing: border-box;
      border: 1px solid $baselight-color;
      border-radius: 0.25rem;
      resize: none;
      border-radius: 4px;
      background-color: $light-color;
      background: url(../../assets/icons/search.svg) no-repeat scroll 8px 8px;
      order: 1;

      @include tablet {
        height: 40px;
        max-width: 300px;
      }
    }

    ::placeholder {
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      padding-left: 24px;
      color: $primary-color;

      @include tablet {
        font-size: 14px;
        line-height: 22px;
      }
    }

    &--image {
      background-image: url(../../assets/images/Mohan-muruge.jpg);
      background-size: cover;
      border-radius: 50%;
      height: 2.25rem;
      width: 2.25rem;
      order: 2;

      @include tablet {
        height: 40px;
        width: 80px;
        order: 3;
      }
    }

    &--sbtwrapper {
      width: 100%;
      padding-top: 16px;
      order: 3;
      @include tablet {
        order: 2;
        padding: 0;
        margin: 0;
        width: 80%;
      }
    }

    &--sbt {
      font-size: 12px;
      line-height: 20px;
      font-weight: 700;
      width: 100%;
      margin: 0;
      border-width: 0;
      border-radius: 4px;
      padding: 0.2rem 2rem;
      height: 36px;
      color: $active-color;
      background: url(../../assets/icons/upload.svg) no-repeat scroll 8px 8px;
      background-color: $secondary-color;
      background-size: 20px;
      text-transform: uppercase;
      text-align: center;

      @include tablet {
        width: 80%;
        padding: 0;
        margin: 0;
        font-size: 14px;
        line-height: 22px;
        height: 40px;
      }
    }
  }
}
