@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.upload {
  border-top: 1.5px solid $baselight-color;

  &__wrapper {
    @include relative-padding;
    text-align: left;

    @include desktop {
      margin: 0 auto;
      max-width: $max-content-width;
    }
  }

  &__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding-top: 1.5rem;
    margin: 0;

    @include tablet {
      font-size: 2.0625rem;
      line-height: 2.75rem;
      padding-bottom: 1.5rem;
    }

    @include desktop {
      margin: 0 auto;
      max-width: $max-content-width;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @include tablet {
      flex-wrap: nowrap;
      padding-bottom: 1.5rem;
      border-top: 1.5px solid $baselight-color;
    }

    &--top-container {
      width: 100%;
      display: flex;
      flex-direction: column;

      @include desktop {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &--thumbnail {
      text-transform: uppercase;
      color: $base-color;
      text-align: left;
      margin: 0;
      padding: 1rem 0 0.25rem;
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: 700;

      @include tablet {
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding-top: 1.5rem;
      }

      @include desktop {
        padding: 2.375rem 0 0;
      }
    }

    &--image {
      width: 100%;
      max-width: 18rem;
      height: 10rem;
      object-fit: cover;
      border-radius: 0.25rem;
      background-size: cover;
      background-color: $baselight-color;

      @include tablet {
        max-width: 22.5rem;
        height: 12.5rem;
      }

      @include desktop {
        max-width: 23.75rem;
        height: 10.875rem;
      }
    }

    &--uploadDetails {
      width: 100%;

      @include tablet {
        padding: 1.5rem 0;
      }

      @include desktop {
        padding: 2.25rem 0 2.25rem 2.25rem;
      }
    }

    &--bottomBox {
      padding-bottom: 0.75rem;
    }

    &--label-tag {
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: 700;
      color: $base-color;
      text-transform: uppercase;
      margin: 1rem 0;

      @include tablet {
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }

    &--title {
      font-size: 0.8125rem;
      line-height: 1.125rem;
      width: 100%;
      padding: 0.75rem;
      box-sizing: border-box;
      border: 1px solid $baselight-color;
      border-radius: 0.25rem;
      resize: none;
      background-color: $light-color;
      color: $primary-color;

      @include tablet {
        font-size: 0.875rem;
        line-height: 1rem;
        margin: 0;
        width: 100%;
      }

      &::placeholder {
        font-family: "AvenirNext LT Pro";
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        color: $primary-color;

        @include tablet {
          font-size: 0.875rem;
          line-height: 1.375rem;
        }
      }
    }

    &--description {
      font-size: 0.8125rem;
      line-height: 1.125rem;
      width: 100%;
      height: 6.25rem;
      padding: 0.75rem;
      box-sizing: border-box;
      border: 1px solid $baselight-color;
      border-radius: 0.25rem;
      resize: none;
      background-color: $light-color;
      color: $primary-color;

      @include tablet {
        font-size: 0.875rem;
        line-height: 1rem;
        padding: 0.625rem 0.5rem 0;
        margin: 0;
        width: 100%;
      }
      
      &::placeholder {
        font-family: "AvenirNext LT Pro";
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        color: $primary-color;

        @include tablet {
          font-size: 0.875rem;
          line-height: 1.375rem;
        }
      }
    }

    &--bottom-container {
      display: flex;
      flex-direction: column;

      @include tablet {
        flex-direction: row-reverse;
        justify-content: flex-start;
        border-top: 1.5px solid $baselight-color;
      }
    }

    &--publishWrapper {
      width: 100%;
      padding-top: 1rem;

      @include tablet {
        padding-top: 1.5rem;
        width: 20%;
      }

      @include desktop {
        width: 13%;
      }
    }

    &--publish {
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: 700;
      width: 100%;
      margin: 0;
      border-width: 0;
      border-radius: 0.25rem;
      padding: 0.2rem 2rem;
      height: 2.25rem;
      color: $active-color;
      background: url(../../assets/icons/publish.svg) no-repeat scroll 10px 10px;
      background-color: $secondary-color;
      background-size: 1.25rem;
      text-transform: uppercase;
      text-align: center;

      @include tablet {
        padding: 0;
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.375rem;
        height: 2.5rem;
      }
    }

    &--cancelWrapper {
      width: 100%;
      padding-top: 0.625rem;

      @include tablet {
        padding-top: 1.5rem;
        padding-right: 2rem;
        width: 20%;
      }

      @include desktop {
        width: 13%;
        padding-right: 2.5rem;
      }
    }

    &--cancel {
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: 700;
      width: 100%;
      margin: 0;
      border-width: 0;
      border-radius: 0.25rem;
      padding: 0.2rem 2rem;
      height: 2.25rem;
      text-align: center;
      text-transform: uppercase;
      color: $secondary-color;
      padding-top: 1.5rem;
      background-color: $active-color;

      @include tablet {
        padding: 0;
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.375rem;
        height: 2.5rem;
      }
    }
  }
}
